* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
/* light mode */
html[data-theme='light'] {
--bg-color: #ecf0f3;
--shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
--border: 1px solid #ecf0f3;
}
/* dark mode */
html[data-theme='dark'] {
--bg-color: #272727;
--shadow: 0 4px 8px 0 rgba(104, 102, 102, 0.2);
--border: none;
}

.image-slider .swiper-slide {
position: relative;
display: grid;
align-self: center;
overflow: hidden;
}
.image-slider .swiper-slide .wrapper {
margin-top: 340px;
margin-bottom: 60px;
}
.image-slider .swiper-slide .img-container {
position: absolute;
top: 0;
left: 0;
right: 0;
margin: auto;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: center;
-ms-flex-pack: center;
justify-content: center;
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
height: 95%;
}
.image-slider .swiper-slide .img-container img {
width: 80%;
height: 100%;
}
.image-slider .swiper-slide .title {
font-size: 3rem;
color: var(--text-color);
text-transform: uppercase;
}
.controller,
.controller1 {
position: absolute;
right: 11%;
border-radius: 50%;
width: 44px;
display: flex;
align-items: center;
justify-content: center;
}
.controller1 {
left: 11%;
}
.swiper-container
.image-slider
.swiper-button-next
.swiper-nav-ctrl
.prev-ctrl {
position: absolute !important;
left: 14% !important;
border-radius: 50%;
width: 44px !important;
padding-right: 4px !important;
display: flex;
align-items: center;
justify-content: center;
}
.controller :hover {
background-color: rgba(0, 0, 0, 0.5);
border-radius: 50%;
width: 44px;
height: 44px;

display: flex;
align-items: center;
justify-content: center;
}
.controller1 :hover {
background-color: rgba(0, 0, 0, 0.5);
border-radius: 50%;
width: 44px;
height: 44px;
display: flex;
align-items: center;
justify-content: center;
}
.swiper-button-next .swiper-nav-ctrl :hover {
background-color: rgba(0, 0, 0, 0.5);
}
/* for text */
.content {
display: flex;
justify-content: end;
color: rgb(0, 0, 0);
}
.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
background-image: none;
}
.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
background-image: none;
}
.image-slider .ctrl:hover {
background-color: rgba(0, 0, 0, 0);
}
.parallax-slider .swiper-nav-ctrl.next-ctrl {
right: 0;
}
.parallax-slider .swiper-nav-ctrl.prev-ctrl {
left: 0;
}
.image-slider .text-wrapper {
overflow: hidden;
width: 100%;
display: -webkit-inline-box;
display: -ms-inline-flexbox;
display: inline-flex;
}
.image-slider .text-wrapper .text-inner {
-webkit-transform: translateY(100%);
color: var(--text-color);
transform: translateY(100%);
-webkit-transition: all ease 0.5s;
transition: all ease 0.5s;
}
.image-slider .swiper-slide-active.active .text-inner {
-webkit-transform: translateY(0);
transform: translateY(0);
opacity: 1;
}
.image-slider .swiper-slide.active .sub-title .text-inner {
-webkit-transition-delay: 0.05s;
transition-delay: 0.05s;
}
.image-slider .swiper-slide.active .title .text-inner {
-webkit-transition-delay: 0.1s;
transition-delay: 0.1s;
}
.image-slider .swiper-slide.active .description .text-inner {
-webkit-transition-delay: 0.15s;
transition-delay: 0.15s;
}
/* positioning */
.container {
position: relative;
}
.row {
display: flex;
-ms-flex-wrap: wrap;
flex-wrap: wrap;
margin-right: -15px;
margin-left: -15px;
}
.event_svg {
height: 100%;
}
.arrow_contain {
width: 85%;
}
.root_block {
margin-top: 8%;
}
/* Responsiveness*/
@media only screen and (max-width: 1000px) {
.heading {
    margin-top: 10%;
}
.root_block {
    margin-top: 12%;
}
.image-slider .text-wrapper .text-inner {
    font-size: 45px;
}
}
@media only screen and (max-width: 770px) {
.image-slider .ctrl {
    height: 50px;
    width: 50px;
}
.image-slider .text-wrapper .text-inner {
    font-size: 37px;
}
.image-slider .swiper-slide .wrapper {
    margin-top: 330px;
    margin-bottom: 70px;
}
.controller {
    right: 5%;
}
.controller1 {
    left: 5%;
}
.controller,
.controller1 {
    width: 36px;
    height: 36px;
}
.content {
    justify-content: center;
}
.root_block {
    margin-top: 17%;
}
.arrow_contain {
    width: 100%;
}

.image-slider .swiper-slide .img-container img {
    width: 100%;
    height: 80%;
}
.block_two {
    height: 80% !important;
}
.controls,
.controls1 {
    bottom: 0;
}
}
@media only screen and (max-width: 690px) {
.root_block {
    height: 85% !important;
    margin-top: 22%;
}
.image-slider .swiper-slide .wrapper {
    margin-top: 330px;
    margin-bottom: 70px;
}
.content {
    justify-content: center;
}
.image-slider .text-wrapper .text-inner {
    font-size: 35px;
}
.controller,
.controller1 {
    width: 30px;
    height: 30px;
}
.controller {
    right: 5%;
}
.controller1 {
    left: 5%;
}
}
@media only screen and (max-width: 500px) {
.root_block {
    height: 70% !important;
    margin-top: 32%;
}
.image-slider .swiper-slide .title {
    font-size: 3rem !important;
}
.heading {
    margin-top: 8%;
    margin-bottom: 0% !important;
}
.image-slider .text-wrapper .text-inner {
    font-size: 30px;
}
}
/* gallery section starts */
.gallery_section span, .gallery_section b {
    font-size: 1.2rem;
}
.gallery_section span {
    color: #444;
    margin-bottom: 0.5rem;
}
.gallery_section {
    position: relative;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background: #fbfbf0;
}
.gallery_section a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: black;
    text-decoration: none;
    opacity: 0;
    border-radius: 2rem;
    background-color: rgba(255, 255, 255, 0.7);
    transition: opacity 200ms ease-out;
}
.staggered-grid {
    display: grid;
    width: 43.75rem;
    min-height: 100vh;
    padding: 2rem 0;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(9, 9rem);
    grid-gap: 1.5rem;
    animation: fade-and-slide-in 2000ms 1 forwards cubic-bezier(0.17, 0.91, 0.73, 1.03);
}
@keyframes fade-and-slide-in {
    0% {
        transform: translateY(-100%);
        opacity: 0;
   }
    100% {
        transform: translateY(0);
        opacity: 1;
   }
}
.picture-container {
    background-position: center center;
    background-size: auto 100%;
    background-repeat: no-repeat;
    border-radius: 2rem;
    box-shadow: 0 0 0.75rem 0.25rem rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}
.picture-container:hover a {
    opacity: 1;
}

div.picture-container:nth-child(1) {
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 3;
}
div.picture-container:nth-child(2) {
    grid-column-start: 2;
    grid-row-start: 2;
    grid-row-end: 4;
}
div.picture-container:nth-child(3) {
    grid-column-start: 1;
    grid-row-start: 3;
    grid-row-end: 5;
}
div.picture-container:nth-child(4) {
    grid-column-start: 2;
    grid-row-start: 4;
    grid-row-end: 6;
}
div.picture-container:nth-child(5) {
    grid-column-start: 1;
    grid-row-start: 5;
    grid-row-end: 7;
}
div.picture-container:nth-child(6) {
    grid-column-start: 2;
    grid-row-start: 6;
    grid-row-end: 8;
}
div.picture-container:nth-child(7) {
    grid-column-start: 1;
    grid-row-start: 7;
    grid-row-end: 9;
}
div.picture-container:nth-child(8) {
    grid-column-start: 2;
    grid-row-start: 8;
    grid-row-end: 10;
}
div.picture-container:nth-child(8) {
    grid-column-start: 1;
    grid-row-start: 9;
    grid-row-end: 11;
}

.item1 div.picture-container:nth-child(1) {
    background-image: url(../assets/img/9.png);
}
.item1 div.picture-container:nth-child(2) {
    background-image: url(../assets/img/10.png);
}
.item1 div.picture-container:nth-child(3) {
    background-image: url(../assets/img/11.png);
}
.item1 div.picture-container:nth-child(4) {
    background-image: url(../assets/img/12.png);
}
.item1 div.picture-container:nth-child(5) {
    background-image: url(../assets/img/13.png);
}
.item1 div.picture-container:nth-child(6) {
    background-image: url(../assets/img/14.png);
}
.item1 div.picture-container:nth-child(7) {
    background-image: url(../assets/img/15.png);
}
.item1 div.picture-container:nth-child(8) {
    background-image: url(../assets/img/16.png);
}
.item1 div.picture-container:nth-child(9) {
    background-image: url(../assets/img/17.png);
}

.item2 div.picture-container:nth-child(1) {
    background-image: url(../assets/img/1.png);
}
.item2 div.picture-container:nth-child(2) {
    background-image: url(../assets/img/2.png);
}
.item2 div.picture-container:nth-child(3) {
    background-image: url(../assets/img/3.png);
}
.item2 div.picture-container:nth-child(4) {
    background-image: url(../assets/img/4.png);
}
.item2 div.picture-container:nth-child(5) {
    background-image: url(../assets/img/5.png);
}
.item2 div.picture-container:nth-child(6) {
    background-image: url(../assets/img/6.png);
}
.item2 div.picture-container:nth-child(7) {
    background-image: url(../assets/img/7.png);
}
.item2 div.picture-container:nth-child(8) {
    background-image: url(../assets/img/8.png);
}

.container_gallery {
    padding-top: 5px;
    padding-bottom: 100px;
    background-color: #fbfbf0;
}
.container_gallery h2 {
    text-align: center;
}
.container_gallery .item1,  .container_gallery .item2{
    margin-top: 100px;
}
/* gallery section ends */

/*hero section starts*/
.hero {
    background-color: white;
    display: flex;
    height: 100vh;
}
.hero .item1 {
    width:50%;
    background: url('../assets/img/hero.png');
    background-repeat: no-repeat;
    background-position: 20% 35%;
    background-size: 350px;
    background-attachment: fixed;
}
.hero .item2 {
    background-color: white; /* rgb(245, 225, 245) */
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #343a40;
}
.hero .item2 span {
    color: rgb(121, 59, 221);
}
.item2 h1 {
    font-weight: bold;
    font-size: 33px;
}
.item2 p {
    letter-spacing: 10px;
    color: rgb(17, 16, 16);
}

@media only screen and (max-width: 950px) {
    .hero .item1 {
        background-size: 300px;
        background-position: 10% 35%;
    }
    .item2 p {
        letter-spacing: 5px;
    }
}
@media only screen and (max-width: 700px) {

    .container_gallery {
        padding-top: 5px;
    }
    .container_gallery .item1,  .container_gallery .item2{
        margin-top: 0px;
    }

    .hero {
        flex-direction: column;
        justify-content: space-evenly;
        height: 50vh;
    }
    .hero .item1 {
        background-position: 55% 50%;
        background-size: 172px;
        height: 50%;
        width: 100%;
        background-attachment: unset;
    }
    .hero .item2 {
        width: 100%;
        /* height: 50%; */
    }
    .item2 p {
        letter-spacing: 0px;
    }
}

  